
<script src="~/Scripts/App/main.js?v=3"></script>

<a href="javascript:void(0)" id="spinning" class="btn btn-default  btn-fab  btn-fab-mini spinning ">
    <i class="material-icons">toys</i><div class="ripple-container"></div></a>


    <div class="alert alert-dismissible  alert-danger" id="errorAlert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert">×</button>

    <strong>Error</strong>
    <p><span id="errorText">There was an error.</span></p>
</div>

    <div class="alert  alert-dismissible  alert-success" id="successAlert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert">×</button>

    <strong>Ok</strong>
    <p><span id="successText">The action was succesfull.</span></p>
</div>

    <div class="row" id="pnIntro" style="@(User.Identity.IsAuthenticated? "display: none;":"")">
        <div class="col-sm-12 col-md-12">

            <h1>Welcome</h1>
            <div>
                This is the Expenses Toptal logger. Please login or register.
            </div>
        </div>


        <div id="myModalLogin" class="modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputLoginUser">Email</label>
                                <input type="text" min="0" class="form-control" id="inputLoginUser" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="inputLoginPassword">Password</label>
                                <input type="password" class="form-control" id="inputLoginPassword" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalLogin">Login</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="myModalRegister" class="modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputRegisterUser">Email</label>
                                <input type="text" min="0" class="form-control" id="inputRegisterUser" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputRegisterPassword">Password</label>
                                <input type="password" class="form-control" id="inputRegisterPassword" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="inputRegisterConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="inputRegisterConfirmPassword" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalRegister">Register</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>




    <div id="pnExpenses" style="@(!User.Identity.IsAuthenticated? "display: none;":"")">


        <header class="help-page" id="ExpensesTitle">
            <div class="float-right">
                <a href="javascript:void(0)" onclick="hideUnhideFilters();" class="btn btn-primary btn-fab" title="Filter"><i class=" material-icons">search</i><div class="ripple-container"></div></a>
                &nbsp;&nbsp;<a href="javascript:void(0)" id="btnLoadExpenses" class="btn btn-info btn-fab" title="Refresh"><i class="material-icons">refresh</i><div class="ripple-container"></div></a>
                &nbsp;&nbsp;<a href="javascript:void(0)" id="btnAddExpenses" class="btn btn-success btn-fab" title="Add Expense"><i class="material-icons">add</i><div class="ripple-container"></div></a>
                &nbsp;&nbsp;<a href="javascript:void(0)" id="btnPrintExpenses" class="btn btn-black btn-fab" title="Print"><i class="material-icons">local_printshop</i><div class="ripple-container"></div></a>

            </div>
            <div class="content-wrapper">
                <div class="float-left">
                    <h1>
                        Expenses
                    </h1>
                </div>

            </div>
        </header>



        <div class="panel panel-info hide" id="panelFilters">
            <div class="panel-heading ">
                <div class="float-right">
                    <a href="javascript:void(0)" onclick="hideUnhideFilters();" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">clear</i><div class="ripple-container"></div></a>
                </div>
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="form-group col-sm-2">
                        <label for="inputStartDate">Start date</label>
                        <script>
                            $(function() {
                                var oneWeekAgo = new Date();
                                oneWeekAgo.setDate(oneWeekAgo.getDate() - 6);
                                $('#inputStartDate').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD', currentDate:oneWeekAgo,time:false,switchOnClick:true  }).on('change', function(e, date)
                                {
                                    $('#inputEndDate').bootstrapMaterialDatePicker('setMinDate', date);
                                });
                                $('#inputEndDate').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD', currentDate:new Date(),time:false,switchOnClick:true  });
                            });
                        </script>

                        <input class="form-control" id="inputStartDate" />
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="inputEndDate">End date</label>
                        <input class="form-control" id="inputEndDate" />
                    </div>
                    <div class="form-group col-sm-3 ">

                        <div class="col-sm-4 ">

                            <label for="inputSearchAmountOperator">Amount</label>
                            <select id="inputSearchAmountOperator" class="form-control">
                                <option value=">">></option>
                                <option value="<"><</option>
                                <option value="=">=</option>
                            </select>
                        </div>
                        <div class="col-sm-8 ">

                            <label for="inputSearchAmount">&nbsp;</label>
                            <script>
                                $(function() {
                                    $("#inputSearchAmount").maskMoney({prefix:'U$ ', allowNegative: false, thousands:'', decimal:'.', affixesStay: false});
                                });
                            </script>

                            <input type="text" class="form-control" id="inputSearchAmount" />
                        </div>

                    </div>
                    <div class="form-group col-sm-3">
                        <label for="inputSearchDesc">Description</label>
                        <input type="search" class="form-control" id="inputSearchDesc" />
                    </div>
                    <div class="col-sm-2" id="divSearchUsers">

                        <label for="inputSearchUser">User</label>
                        <select id="inputSearchUser" class="form-control"></select>

                    </div>
                </div>
                    <div class="row">
                        
                       
                        <div class="col-sm-6  pull-left">
                            <a href="javascript:void(0)" id="btnLoadExpenses2" class="btn btn-info btn-fab"><i class="material-icons">play_arrow</i><div class="ripple-container"></div></a>
                            &nbsp;&nbsp;<a href="javascript:void(0)" id="btnEraseFilters" class="btn btn-default btn-fab"><i class="material-icons">delete_sweep</i><div class="ripple-container"></div></a>


                        </div>
                    </div>
                </div>

        </div>


        <section class="content-wrapper main-content clear-fix" id="panelExpensesTable">
            <header id="PrintHeader" >
                <div class="float-right">
                   <a href="javascript:window.print()" class="btn btn-black btn-fab" title="Print"><i class="material-icons">local_printshop</i><div class="ripple-container"></div></a>
                    &nbsp;&nbsp;
                <a href="javascript:void(0)" id="btnClosePrintExpenses" class="btn btn-black btn-fab" title="Close"><i class="material-icons">clear</i><div class="ripple-container"></div></a>

                </div>
                <div class="content-wrapper">
                    <div class="float-left">
                        <h2>
                            Expenses Report - <span id="ReportStartDate"></span> to <span id="ReportEndDate"></span>
                        </h2>
                        <h3>
                            <span id="ReportFilters">Filters: </span> 
                        </h3>                    </div>

                </div>
            </header>
            <div class="table-responsive font_medium" id="TableResponsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th class="col-sm-2 text-left actionCol">
                                Actions
                            </th>
                            <th class="col-sm-2 text-left">
                                Date
                            </th>
                            <th class="col-sm-2 text-right">
                                Expenses
                            </th>
                            <th>
                                Description
                            </th>
                            <th class="col-sm-3 text-left" id="thUser" style="display:none;">
                                User
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbExpenseBody"></tbody>

                </table>

            </div>


        </section>

        <div id="myModalExpenseRecord" class="modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="inputDate">Date</label>
                                <script>
                                    $(function() {
                                        $('#inputDate').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD', currentDate:new Date(),time:false,switchOnClick:true  });
                                    });
                                </script>

                                <input type="date" class="form-control" id="inputDate" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="inputTime">Time</label>
                                <script>
                                    $(function() {
                                        $('#inputTime').bootstrapMaterialDatePicker({ format : 'HH:mm', currentDate:new Date(),date:false,switchOnClick:true  });
                                    });
                                </script>

                                <input type="time" class="form-control" id="inputTime" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="inputExpenses">Amount</label>
                                <script>
                                    $(function() {
                                        $("#inputExpenses").maskMoney({prefix:'U$ ', allowNegative: false, thousands:'', decimal:'.', affixesStay: false});
                                    });
                                </script>
                                <input type="text" class="form-control" id="inputExpenses" />
                            </div>
                            <div class="form-group col-sm-8">
                                <label for="inputDescription">Description</label>
                                <input type="text" maxlength="200" class="form-control" id="inputDescription" />
                            </div>
                            </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="inputComment">Comments</label>
                                <textarea type="text" maxlength="4000" class="form-control" style="min-width:90%" id="inputComment"></textarea>
                            </div>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalExpenseSave">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>

                    </div>
                </div>

            </div>
        </div>



    </div>

<div id="myModalSettings" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputOldPassword">Current Password</label>
                        <input type="password" class="form-control" id="inputOldPassword" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputNewPassword">New Password</label>
                        <input type="password" class="form-control" id="inputNewPassword" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="inputRepeatPassword">Repeat Password</label>
                        <input type="password" class="form-control" id="inputRepeatPassword" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalSettings">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>

    <div id="pnUsers" style="display: none;">


        <header class="help-page">
            <div class="content-wrapper">
                <div class="float-right">
                   <a href="javascript:void(0)" id="btnLoadUsers" class="btn btn-info btn-fab" title="Refresh"><i class="material-icons">refresh</i><div class="ripple-container"></div></a>
                    &nbsp;&nbsp;<a href="javascript:void(0)" id="btnAddUser" class="btn btn-success btn-fab" title="Add User"><i class="material-icons">add</i><div class="ripple-container"></div></a>

                </div>
                <div class="float-left">
                    <h1>Users</h1>
                </div>
            </div>
        </header>



        <section class="content-wrapper main-content clear-fix">


            <div class="table-responsive  font_medium">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th class="col-sm-2">
                                Actions
                            </th>
                            <th>
                                User
                            </th>
                            <th>
                                Administrator
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbUsersBody"></tbody>

                </table>

            </div>

        </section>


        <div id="myModalUserRecord" class="modal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputUserEmail">Email</label>
                                <input type="text" min="0" class="form-control" id="inputUserEmail" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="checkboxAdmin">Role</label>
                                <div class="togglebutton ">
                                    <label>
                                        <input type="checkbox" id="checkboxAdmin" checked=""><span class="toggle"></span> Administrator
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="inputUserPassword">Password</label>
                                <input type="password" class="form-control" id="inputUserPassword" placeholder="Leave empty for no changes" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="inputUserConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="inputUserConfirmPassword" placeholder="Leave empty for no changes" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalUserSave">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>

        var BASE_ROOT = @Html.Raw(String.Format("'{0}'", Href("~")));
        var isAdmin = @User.IsInRole("Admin").ToString().ToLower();

        $( document ).ready(function() {
            StartApplication();
        });

    </script>

